.etelek {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 2em;
}

.etel {
    width: 100%;
    display: flex;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.etel .kep {
        max-width: 25rem;
        max-height: 20rem;
}

.etel .leiras {
    width: 60%;
    height: 20rem;
    min-width: 3em;
}
