.nav {
    width: 100%;
    justify-content: center;
    margin-bottom: 1em;
}

.nav, .nav-tabs .nav-link:hover, :not(.nav-tabs .nav-link:hover) {
    border: 0;
}

.nav-link {
    color: #32a852 !important;
}

.nav-link.active {
    background-color: transparent !important;
    border-bottom: 1px solid #32a852 !important;
}

.eloetelek-container, .foetelek-container, .desszertek-container {
    display: flex;
    flex-direction: row;
    row-gap: 2em;
    flex-wrap: wrap;
}

.eloetel, .foetel, .desszert {
    width: 100%;
    display: flex;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .kep {
        max-width: 25rem;
        max-height: 20rem;
    }

    .leiras {
        width: 60%;
        height: 20rem;
        min-width: 3em;
    }
}
