header {
    border-radius: 1em;
    background-color: #32a852;
    padding: 1em 1.5em;
    margin: 1em;
    height: 5em;
    display: flex;
    align-items: center;
    column-gap: 1em;
}

header img {
    max-height: 100%;
    width: auto;
}

div#wrapper {
    margin: 1em;
    background-color: #d9e2fa;
}

nav#menu {
    width: 100%;
    display: flex;
    background-color: #acc6ec;
    justify-content: center;
    align-items: center;
}

nav#menu ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    column-gap: 1.5em;
}

nav#menu ul li.active {
    border-bottom: 3px solid #32a852;
}

nav#menu ul a, nav#menu ul a:hover {
    text-decoration: none;
    color: #32a852;
}

div#content {
    width: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px 50px;
    text-align: center;
    align-items: center;
}

footer {
    border-radius: 10px;
    margin: 10px;
    padding: 5px 20px;
    background-color: #f7f197;
}

.piros {
    font-weight: bold;
    font-style: italic;
    font-size: larger;
    color: #f00;
}

h3 {
    color: #4e524f;
}
